.photo {
    @apply object-contain;
    @apply aspect-4/3;
}

.photoBig {
    @apply basis-4/5;
    @apply self-stretch;
    background-image: url(./assets/low.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* height: 100%; */
    /* width: 100%; */
}